# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_driver:   pdo_mysql # switch to pdo_sqlite if you want to use the sqlite database specified below
    database_host:     phpconpl16
    database_port:     ~
    database_name:     specifications
    database_user:     phpconpl
    database_password: phpconpl
    database_path:     "%kernel.root_dir%/specifications.db3"

    # A secret key that's used to generate certain security-related tokens
    secret:            ThisTokenIsNotSoSecretChangeIt
